.singleAuctionPage {
    display: grid;
    grid-template-columns: 250px 1fr;   
}

.auctionItem {
    display: grid;
    grid-template-rows: 3rem 1fr 3rem;
    border: 2px solid #101010;
    border-radius: 3px;
        margin: 0px 40px;
}

.auctionTitle {
    border-bottom: 2px solid #101010;
    text-align: center;
    font-size: 1.5rem;
}


.auctionDesc {
    text-align: center;
    border-bottom: 2px solid #101010;
    padding: 1rem;
}

.auctionDesc > p {
          margin:  0px 3px;
}
.auctionControl {
       text-align: center;
}